* {
    font-family: "Hack", "Hack", monospace, bold;
    color: white;
}

#body {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgba(61, 65, 83, 0.75);
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#foot {    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(61, 65, 83, 0.75);
    font-weight: bold;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

body {
    background-image: url('backdrop.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#body {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgba(61, 65, 83, 0.75);
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#navbar {
    background-color: rgba(61, 65, 83, 0.75);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
    text-align: center;
}

#banner {
    position: relative;
    padding: 0%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    z-index: -1;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

#logo {
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 1;
}

@media screen and (min-width: 1120px) {
    #body {
        width: 63%;
    }
}

@media screen and (min-width: 610px) {
    #foot {
        width: max-content;
    }
}

@media screen and (min-width: 820px) {
    #navbar {
        width: max-content;
    }
}


@media screen and (max-width: 940px) {
    #logo {
        width: 284px;
        height: 136px;
    }

    #banner {
        height: 185px;
    }
}